.create-article {
    width: 60%;
    margin: 0 auto;
}

h1 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 4px;
    background-color: cornflowerblue;
}

.form-control {
    margin-bottom: 20px;
    font-size: 20px;
}

input[type=checkbox].form-control{
    width: 20px;
    float: left;
    height: auto;
}

.bottom {
    overflow: hidden;
    margin-bottom: 30px;
}

input.form-control {
    height: 50px;
    box-shadow: none;
}

.btn.submit,
.btn.cancel{
    width: 40%;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2;
}

.btn.submit {
    float: left;
}

.btn.cancel {
    float: right;
}

textarea.form-control {
    height: 300px;
}