article {
    margin-bottom: 35px;
}

.navbar {
    background: #333;
    border-radius: 0;
    border-right: none;
    border-left: none;
    border-top-width: 3px;
    text-align: center;
}

.container-fluid {
    display: inline-block;
}
.navbar-inverse .navbar-nav > li > a {
    color:#fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: cornflowerblue;
}

h3 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

span {
    color: #b1b1b1;
    letter-spacing: 1px;
}

.row-eq-height {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

.article-wrapper {
    padding: 20px;
    height: 100%;
    width: 100%;
    border-right: 1px solid lightgrey;
}

article {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 40px;
}

article:nth-child(3n) .article-wrapper {
    border-right: none;
}

.page-numbers li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid #333;
    border-right: none;
    cursor: pointer;
}

.page-numbers li:last-child {
    border-right: 1px solid #333;
}

.page-numbers {
    text-align: center;
    width: 100%;
}

.page-numbers .active {
    background-color: cornflowerblue;
}
