.footer {
    display: block;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: #333;
    line-height: 40px;
    margin-top: 40px;
}

.footer span {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
}