.btn.btn-primary.publish,
.btn.btn-primary.update,
.single-article {
    width: 100%;
}

.btn.btn-primary.update {
    margin-bottom: 20px;
}

.single-article .form-control {
    width: 100%;
}

.single-article textarea.form-control {
    height: 500px;
}